#status {
  display: block;
  width: 15rem;
}

.status p:first-of-type {
  font-weight: bold;
  animation: pulse 2s infinite;
  margin: 0 0 0.5rem 0;
  font-size: 1.15rem;
}

.status-online p:first-of-type {
  color: #6a3cb0;
}

.status-offline p:first-of-type {
  color: #b22084;
}

.status-unknown p:first-of-type {
  color: grey;
}

p {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  color: #4f4b53;
}

p:last-of-type {
  margin: 0;
  color: #625e67;
}
